# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/

# Build
public/flutter-app/*
!public/flutter-app/.gitkeep

# Flutter
flutter_app/.dart_tool/
flutter_app/.packages
flutter_app/build/
flutter_app/*.iml
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies

# Env
.env*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
